h1 {
    font-size: .75rem; /* Adjust the font size as needed */
    font-weight: 600; /* Add font-weight property */
    /* Add other styles for h1 */
}

h2 {
    font-size: .75rem; /* Adjust the font size as needed */
    font-weight: 600; /* Add font-weight property */
    /* Add other styles for h2 */
}

h3 {
    font-size: .75rem; /* Adjust the font size as needed */
    font-weight: 600; /* Add font-weight property */
    /* Add other styles for h3 */
}

h4 {
    font-size: .75rem; /* Adjust the font size as needed */
    font-weight: 600; /* Add font-weight property */
    /* Add other styles for h4 */
}

h5 {
    font-size: .75rem; /* Adjust the font size as needed */
    font-weight: 600; /* Add font-weight property */
    /* Add other styles for h5 */
}

h6 {
    font-size: .75rem; /* Adjust the font size as needed */
    font-weight: 600; /* Add font-weight property */
    /* Add other styles for h6 */
}

.a:hover {
    width:200px;
height:200px
   
}

